.a {
  text-decoration: none;
}

.css-1osj8n2-MuiGrid-root{
  display: flex;
}

.table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
}


.table tbody {
    border: 1px solid #ddd;
    padding: 8px;
}

.slick-prev:before, .slick-next:before {
  background-color: black;
  padding-top: 50px;
}

.css-1ex1afd-MuiTableCell-root {
    line-height: 1.43;
    padding: 0;
}

  /* .cover {
    padding: 0px 30px;
    position: relative;
  }
  .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  } */

.navbar{
  display: flex;
  width: 100%;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  padding-left: 15px;
  background-color: #f0edee;
  border-left-style: hidden;
  box-shadow: 5px 5px 5px grey;
  height: 35px;
}

/* .outlined-basic{
  padding-top:initial;
} */

/* .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  margin: auto;
  height: 30px;
} */

#main-slider-container {
  display: flex;
    width: 93.8%;
    height: 124px;
    background: rgb(4, 121, 199);
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgb(216, 216, 216) ;
}

  #slider {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    color: rgb(255, 255, 255);
  }

  #slider::-webkit-scrollbar{
    display: none;
  }

  /* .slider {
    margin-left: 0px;
  } */

  #main-slider-container {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    font-family:'Times New Roman', Times, sans-serif;
    box-shadow: inset 0 -3em 3em rgba(35, 17, 136, 0.1), 0 0 0 2px rgb(238, 235, 235),
    0.3em 0.3em 1em rgba(62, 9, 122, 0.3);
  }

  /* .slider-icon.left, .slider-icon.right {
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    font-size: xxx-large;
    margin: -10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .slider-icon.left{
    left: 0;
  }

  .slider-icon.right{
    right:0;
  }

  .slider-icon.left:hover, .slider-icon.right:hover {
    opacity: 1;
  } */

  .slider-card {
    width: 66px;
    height: 116px;
    background: rgb(50, 155, 224);
    border-radius: 2px;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 4px;
    box-shadow: 5px 5px 5px rgb(18, 67, 228);
    
  }

  .slider-card:hover {
    opacity: 0.7;
    background-color: rgb(24, 209, 147);
  }

  /* table {
    border-collapse: collapse;
      font-family: Tahoma, Geneva, sans-serif;
      width: 100%;
      background-color: rgb(192, 188, 188);
      table-layout: fixed;
      word-wrap: break-word;
  } */

  table {
    border-collapse: collapse;
    font-family:  sans-serif;
    background-color: rgb(236, 228, 228);
    font-size: 10px;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

  table, th {
    border: 2px solid rgb(250, 247, 247);
    font-family: sans-serif;
    height: 1.5cm;
    text-align: center;
    margin-left: 28px;
  }

  table td {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  table thead td {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
    margin-left: 20px;
  }

  table tbody td {
    color: #070707;
    border: 1px solid #dddfe1;
    font-family: sans-serif;
    font-size: small;
  }

  table tbody tr {
    background-color: white;
  }

  .footer {
    display: flex;
    background-color: #dadadb;
    height: 40px;
    color: #a8a0a3;
    width: 100%;
    align-items: center;
  }

 


