/* .MuiBox-root .css-0 {
    /* text-align: center; */
    /* padding-top: 10px; */
/* } */

/* .logo {
    position: fixed;
    height: 40px;
} */

/* .company_name{
    padding-top: 100px;
} */

/* .css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    position: fixed;
} */
/* #MuiGrid-root css-vj1n65-MuiGrid-root{
  position: absolute;
  padding-left: 920px;
} */

.a {
  text-decoration: none;
}

.css-1osj8n2-MuiGrid-root{
  display: flex;
}

.table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
}


.table tbody {
    border: 1px solid #ddd;
    padding: 8px;
}

.slick-prev:before, .slick-next:before {
  background-color: black;
  padding-top: 50px;
}

.css-1ex1afd-MuiTableCell-root {
    line-height: 1.43;
    padding: 0;
}

  /* .cover {
    padding: 0px 30px;
    position: relative;
  }
  .left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  } */

.navbar{
  display: flex;
  width: 100%;
}

.date{
  height: 20px;
}

#main-slider-container {
    width: 93.8%;
    height: 140px;
    background: rgb(4, 121, 199);
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgb(216, 216, 216) ;
}

  #slider {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    color: rgb(255, 255, 255);
  }

  #slider::-webkit-scrollbar{
    display: none;
  }

  /* .slider {
    margin-left: 0px;
  } */

  #main-slider-container {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    font-family:'Times New Roman', Times, sans-serif;
  }

  .slider-icon.left, .slider-icon.right {
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    font-size: xxx-large;
    margin: -10px;
    box-shadow: 2px blue 2px 2px 2px rgb(0 0 0 /12%);
    cursor: pointer;
  }

  .slider-icon.left{
    left: 0;
  }

  .slider-icon.right{
    right:0;
  }

  .slider-icon.left:hover, .slider-icon.right:hover {
    opacity: 1;
  }

  .slider-card {
    width: 66px;
    height: 133px;
    background: rgb(50, 155, 224);
    border-radius: 5px;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 4px;
    box-shadow: 2px blue 2px 2px 2px rgb(0 0 0 /12%);
    
  }

  .slider-card:hover {
    opacity: 0.7;
    background-color: rgb(24, 209, 147);
  }

  /* table {
    border-collapse: collapse;
      font-family: Tahoma, Geneva, sans-serif;
      width: 100%;
      background-color: rgb(192, 188, 188);
      table-layout: fixed;
      word-wrap: break-word;
  } */

  table {
    border-collapse: collapse;
    background-color: rgb(236, 228, 228);
    font-size: 10px;
    width: 100%;
    table-layout:auto;
    position: relative;
    word-wrap: break-word;
}

  table, th {
    border: 2px solid rgb(250, 247, 247);
    font-family: sans-serif;
    height: 1.5cm;
    text-align: center;
  }

  table td {
    padding: 15px;
  }

  table thead td {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
  }

  table tbody td {
    color: #070707;
    border: 1px solid #dddfe1;
    font-family: serif;
    font-size:medium
  }

  table tbody tr {
    background-color: #f9fafb;
  }

  table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    height: 100%;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}


